<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <nav>
            <ul>
                <a href="../games"><li>Home</li></a>
                <a href="../games/new"><li>New</li></a>
            </ul>
        </nav>
        <h1>
            <%= title %>
        </h1>
    </header>
    <main>