<%- include('../partials/header.ejs') %>
  <form action="/games" method="POST">
    <label>Title:
        <input type="text" name="title" required>
    </label>
    
    <label>Studio:
        <input type="text" name="studio" required>
    </label>
    
    <label>Release Year:
        <input type="date" name="releaseYear" required>
    </label>

    <label>Edition:
        <select name="edition" required>
            <option value="standard" selected="selected">Standard</option>
            <option value="deluxe">Deluxe</option>
            <option value="collectors">Collectors</option>
        </select>
    </label>

    <label>ESRB Rating:
        <select name="rating" required>
            <option value="E">E</option>
            <option value="E10">E10</option>
            <option value="T">T</option>
            <option value="M">M</option>
            <option value="A">A</option>
            <option value="RP">RP</option>
        </select>
    </label>

    <button type="submit">Add Game</button>
  </form>
<%- include('../partials/footer.ejs') %>
