<%- include('../partials/header.ejs') %>
  <form method="POST" action="/games">
    <label>Title:
        <input type="text" name="title" required>
    </label><br />
    
    <label>Studio:
        <input type="text" name="studio" required>
    </label><br />
    
    <label>Release Year:
        <input type="date" name="releaseYear" required>
    </label><br />

    <label>Edition:
        <select name="edition" required>
            <option value="standard" selected="selected">Standard</option>
            <option value="deluxe">Deluxe</option>
            <option value="collectors">Collectors</option>
        </select>
    </label><br />

    <label>ESRB Rating:
        <select name="rating" required>
            <option value="e">E</option>
            <option value="e10">E10</option>
            <option value="t">T</option>
            <option value="m">M</option>
            <option value="a">A</option>
            <option value="rp">RP</option>
        </select>
    </label><br />

    <button type="submit">Add Game</button>
  </form>
<%- include('../partials/footer.ejs') %>
